*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.apresentacao{
    background: #f1f1f1;
    display: flex;
    padding: 20px;


    align-items: center;
    justify-content: space-between;
    height: 50vh;

}
.texto{
    max-width: 400px;

}
.titulo{
    font-size: 50px;
    margin-bottom: 20px;
}
.descricao{
    font-size: 25px;
    text-align: justify;
}

img{
    width: 250px;
    height: 250px;
    border-radius: 50%;

}
section{ 
    width: 100%;
    max-width: 700px;
    margin: 32px auto;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(180px, 1fr));
    grid-gap: 24px;
}
.artigo{
    box-shadow: 1px 1px 5px #eee;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 8px;

}
.botao{
    background: rgb(241, 187, 139);
    padding: 8px;
    width: 100%;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

    

}